amqp==5.3.1
aptdaemon==2.0.2
asgiref==3.11.1
asn1crypto==1.5.1
attrs==25.3.0
autobahn==25.12.2
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
bcc==0.31.0
bcrypt==4.2.0
billiard==4.2.4
blinker==1.9.0
boto3==1.42.78
botocore==1.42.78
Brlapi==0.8.6
brotli==1.2.0
cbor2==5.9.0
celery==5.6.3
certifi==2025.1.31
cffi==2.0.0
channels==4.3.2
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
command-not-found==0.3
configobj==5.0.9
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==46.0.6
cssselect2==0.9.0
cupshelpers==1.0
daphne==4.2.1
dasbus==1.7
dbus-python==1.4.0
defer==1.0.6
distro==1.9.0
distro-info==1.14
Django==6.0.3
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-filter==25.2
django-redis==6.0.0
django-storages==1.14.6
django-timezone-field==7.2.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
et_xmlfile==2.0.0
fonttools==4.62.1
httplib2==0.22.0
hyperlink==21.0.0
idna==3.10
Incremental==24.11.0
inflect==7.3.1
inflection==0.5.1
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
jmespath==1.1.0
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
kombu==5.6.2
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
linkify-it-py==2.0.3
louis==3.33.0
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.2
netaddr==1.3.0
numpy==2.4.3
oauthlib==3.2.2
olefile==0.47
openpyxl==3.1.5
oscrypto==1.3.0
packaging==25.0
pandas==3.0.1
passlib==1.7.4
pexpect==4.9.0
pillow==11.3.0
prompt_toolkit==3.0.52
psutil==7.0.0
psycopg2-binary==2.9.11
ptyprocess==0.7.0
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycairo==1.27.0
pycparser==3.0
pycups==2.0.4
pydyf==0.12.1
Pygments==2.18.0
PyGObject==3.50.0
pyHanko==0.34.1
pyhanko-certvalidator==0.30.2
PyJWT==2.10.1
PyMuPDF==1.27.2.2
pyOpenSSL==26.0.0
pyparsing==3.1.2
pyphen==0.17.2
pyserial==3.5
python-apt==3.0.0+ubuntu1.1
python-crontab==3.3.0
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu1
python-docx==1.2.0
pytz==2026.1.post1
pyxdg==0.28
PyYAML==6.0.2
qrcode==8.2
redis==7.4.0
referencing==0.36.2
reportlab==4.4.9
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
s3transfer==0.16.0
service-identity==24.2.0
setproctitle==1.3.6
sqlparse==0.5.5
systemd-python==235
tinycss2==1.5.1
tinyhtml5==2.1.0
Twisted==25.5.0
txaio==25.12.2
typeguard==4.4.2
typing_extensions==4.13.2
tzdata==2025.3
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufw==0.36.2
ujson==5.12.0
unattended-upgrades==0.1
uritemplate==4.2.0
uritools==6.0.1
urllib3==2.3.0
vine==5.1.0
wadllib==2.0.0
wcwidth==0.6.0
weasyprint==68.1
webencodings==0.5.1
wheel==0.46.1
xdg==5
xkit==0.0.0
zope.interface==8.2
zopfli==0.4.1
